@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }
  .display-flex{
    display: flex;
  }
  /* color related */
.text-white{
    color:rgb(255, 255, 255);
}
.main-text-gray{
  color: rgba(255, 255, 255, 0.5);
}
.text-gray{
    color: rgba(255, 255, 255, 0.5);
    font-size:13px;
    font-weight: 300;
} 
.orange{
    color: rgb(230, 83, 60);
}
.home{
    border-radius: 46px;
    background: #e6533c;
    margin: 0px -2px;
    padding: 3px 14px 3px 14px;
}
.bg-light{
  background: linear-gradient(200.00deg, rgb(25, 25, 25),rgb(17,17,17)100%);
   max-width: 1440px;
}
/* navbar related styles */
  .navbar{
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        max-width: 1440px;
        /* margin:0 auto; */
    }
    .nav-links{
         width: 340px; 
         padding: 4px;
         border: 1px solid rgba(255, 255, 255, 0.1);
         border-radius: 39px;
    }
     .nav-title{
      font-weight:800;
      font-size: 2rem;
      justify-content: center;
      align-items: center;
      margin-left: -3rem;
     }
    .nav-item{
        list-style: none;
        margin-right: 30px;
    }
    .nav-link{
        text-decoration: none;
        font-weight: 400;
    }
/* banner related style */
   .banner{
    justify-content: space-around;
    align-items: center;
   }
  .banner-content{ 
    width: 400px;
   height: 439px;
   padding: 80px;
  }
.banner-title{
font-size: 65px;
font-weight: 700;
} 
.shape{
  font-family: cursive;
}
 /* main related style */
.teams{
  display: flex;
  flex-direction: column;
}
.teams-title{
 font-size: 3rem;
 font-weight: 800;
  text-align: center;
}
.teams-description{
  text-align: center;
  font-size: 14px;
  font-weight: 300;
}
.teams-images-container{
  width: 40%;
   background-color: rgb(33, 33, 33);
   place-items: center;
   display: grid;
   grid-template-columns: repeat(3,1fr);
   padding: 6px;
   border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
}
.trainer-images{
  width: 10rem;
  height: 200px;
  border-radius: 10px;
  padding: 5px 5px 5px 5px;
}
 .trainer-name{
  font-size: 10px;
  font-weight: 500;
  margin: 7px;
  margin-top: -3rem;
  margin-bottom: -15px;
 }
.trainer-title{
  margin-left: 7px;
  font-size: 10px;
}
/* btn related style */
  .btn-primary{
    width: 180px;
    height: 45px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    background-color: #e6533c;
  }
  .btn-primary-two{
    width: 180px;
    height: 45px;
    border: 1px;
    border-radius: 8px;
    background-color: black;
  } 
  .btn-second{
    width: 155px;
    height: 70px;
    flex-direction: column;
    align-items: center;
   border: 1px solid rgba(255, 255, 255, 0.1);
   border-radius: 8px;
   backdrop-filter: blur(5px);
   background: rgba(255, 255, 255, 0.1);
  }
  #badge{
    margin-left: -40px;
    margin-top: -118px;
  }
  #badge-two{
   margin-left: 245px;
   margin-bottom: -230px;
  }
  .btn-third{
    width: 125px;
    height: 60px;
    margin-bottom: -100px;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.1);
  }
  #videos-num{
    font-size: 30px;
    font-weight: 900;
    }
    #videos-num-two{
      font-size: 25px;
      font-weight: 900;
    }
  /* change relate style */
      .change{
        margin: 0 auto;
        text-align: center;
        align-items: center;
      }
      .change-title{
        font-size: 40px;
        font-weight: 900;
      }
      .change-container{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        padding: 5rem 8rem 4rem 4rem;
      }
     .image{
        width: 100px;
        height: 100px;
       border: 2px solid rgba(255, 255, 255, 0.5);
       border-radius: 50%;
    }
    .change-image{
      max-width: 250px;
      height: 240px;
      text-align: center;
    }
        /* section related style */
      .section{
        width: 42rem;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(52, 52, 52);
        padding: 8px 12px 8px 12px;
        margin: -2rem 18rem 1rem;
        border-radius: 10px;
      }
      .section-btn{
        width: 160px;
        height: 40px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 20px;
        background-color: #e6533c;
      }
      .section-image{
        width: 15rem;
       border-radius: 8px;
      }
      /* footer related style */





      /* responsive related style */
     /* @media screen and (max-width: 576px) {

      .navbar,.banner,.btn-second,.btn-primary,.change,.section{
        display: flex;
        flex-direction: column;
       margin-right: 0px;
       margin-left: 0px;
       
      }
      
      .change-container{
        width: 100%;
        display: flex;
        flex-direction: column;
      
      }
     }  */

     /* responsive related */
     @media screen and (max-width: 576px) {
      .navbar, 
      .nav-link,
      .banner,
      .banner-content,
      .banner-title,
      .banner-description,
      .change,
      .change-container,
      .change-image,
      .section{
        width: fit-content;
        height: fit-content;
       flex-direction: column;
       align-items: center;
      } 

      .change-container{
        width: fit-content;
        display: flex;
      grid-template-columns: repeat(4,4fr);} 
.section{

  justify-content: center;
  align-items: center;
}

      }
    