@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }  

  .display-flex{
    display: flex;
  }
.text-white{
    color:rgb(255, 255, 255);
}
.text-gray{
    color: rgba(255, 255, 255, 0.5);
} 
.komola{
    color: rgb(230, 83, 60);
}
.home{
    border-radius: 46px;
    background: #e6533c;
    margin: 0px -2px;
    padding: 3px 14px 3px 14px;
}
.bg-light{
 
    background-color:rgb(52, 54, 58) ;
}
  /* shared styles */


  /* header styles */


  /* navbar related styles */
  .navbar{
        justify-content: space-between;
        align-items: center;
    }

    .nav-links{
         width: 340px; 
         align-items: center;
         padding: 4px;
         box-sizing: border-box;
         border: 1px solid rgba(255, 255, 255, 0.1);
         border-radius: 39px;

    }
     .brand{
      font-weight:800;
      font-size: 2rem;
     }
    .nav-item{
        
        list-style: none;
        margin-right: 30px;
        
       
    }
    .nav-link{
        text-decoration: none;
        font-weight: 400;
    }
  .navbar{
    max-width: 1440px;
    margin:0 auto;
    
  }
  .banner{ 
    width: 500px;
   height: 439px;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   
   padding: 70px ;
   

  }
.banner-title{
font-size: 65px;
font-weight: 700;

} 
.banner-description {
  font-size:13px;
  font-weight: 300;
}
.shape{
  font-family: cursive;
}
  .banner-content{
    
    justify-content: space-between;
    align-items: center;
    }
    
.btn{
  
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

  .btn-primary{
    width: 180px;
    height: 45px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 28px;
    background-color: #e6533c;
  }
  .btn-primary-two{
    width: 180px;
    height: 45px;
    border: 1px;
    border-radius:28px;
  }
  .btn-second{
    box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 8px;
backdrop-filter: blur(20px);
background: rgba(255, 255, 255, 0.1);
  }
  #videos-num{
    font-size: 30px;
    }
    #videos-num-two{
      font-size: 25px;
    }